.logoNav{
    padding-right: 3em;
}

.nav-item{
    padding: 0em 3em;
}

body{
background-color: blue;
}

.imgHeader{
    justify-content: center;
    width: 100%;
    height: auto;
}
.no-margin{
    margin: 0em --0.6em;
    background-color: white;
}
